/* GLOBAL */
* { padding: 0; margin: 0; box-sizing: border-box; }

body { font-family: 'Lato', sans-serif; overflow-x: hidden; }

.container { width: 100%; max-width: 1141px; margin: 0 auto; }

section > .container { padding-bottom: 124px; }

.line { border-bottom: 2px solid #ed135b; width: 200px; height: 0px; margin: 36px auto; }

.section-headlines { font-size: 38px; font-style: italic; font-weight: 300; color: #5a5a5a; letter-spacing: 1px; /* line-height: 52px; */ }

.section-paragraph { font-size: 15px; line-height: 30px; color: #5a5a5a; }

.oval-button { background-color: #ed135a; width: 200px; height: 50px; border-radius: 24px; border: none; transition: .3s; cursor: pointer; text-transform: uppercase; color: #FFF; font-size: 15px; font-weight: 700; text-decoration: none; }

.headline-info { text-transform: uppercase; color: #ed135a; font-size: 15px; font-weight: 700; letter-spacing: 1px; }

/* GRID */
[class*="col-"] { float: left; min-height: 1px; /* padding: 15px; */ }

.row::before, .row::after { content: ""; display: table; clear: both; }

.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

.col-offset-0 { margin-left: 0%; }

.col-offset-1 { margin-left: 8.33%; }

.col-offset-2 { margin-left: 16.66%; }

.col-offset-3 { margin-left: 25%; }

.col-offset-4 { margin-left: 33.33%; }

.col-offset-5 { margin-left: 41.66%; }

.col-offset-6 { margin-left: 50%; }

.col-offset-7 { margin-left: 58.33%; }

.col-offset-8 { margin-left: 66.66%; }

.col-offset-9 { margin-left: 75%; }

.col-offset-10 { margin-left: 83.33%; }

.col-offset-11 { margin-left: 91.66%; }

.col-offset-12 { margin-left: 100%; }

/* HEADER */
header { background: url("../images/back.png"); background-repeat: no-repeat; background-size: cover; background-position: center; height: 800px; color: #FFF; padding-top: 39px; position: relative; z-index: 1; }

header nav { float: right; }

header nav ul li { display: inline-block; list-style-type: none; }

header nav ul li:hover a { color: #ed135a; }

header nav ul li a { text-decoration: none; color: #FFF; font-size: 16px; padding: 0 7px; font-weight: 700; line-height: 42px; transition: .3s; cursor: pointer; }

header h2.logo { display: inline-block; font-size: 25px; font-weight: 900; }

header h2.logo span { color: #ed135a; letter-spacing: 1px; }

/* JUMBOTRON */
.jumbotron { text-align: center; padding-top: 225px; }

.jumbotron h1 { text-transform: uppercase; font-size: 46px; letter-spacing: 1px; font-weight: lighter; }

.jumbotron h1 span { font-weight: 900; }

.jumbotron p { font-size: 22px; letter-spacing: 1px; font-weight: 300; line-height: 35px; }

.jumbotron button.oval-button { margin-top: 70px; }

.jumbotron button.oval-button:hover { background-color: #c9003f; }

/* FRAME */
.frame { height: 39px; width: 100%; background-color: #ed135a; transform: rotate(-1deg); z-index: 0; position: absolute; top: 780px; }

/* ABOUT */
.about { background-color: #f4f4f4; padding-top: 124px; }

.about .container { position: relative; }

.about .line { margin-left: 0; }

.about img { position: absolute; top: -10px; }

.about button { color: #ed135a; border: none; background-color: #f4f4f4; margin-top: 50px; cursor: pointer; }

.about button p { text-transform: uppercase; font-size: 15px; font-weight: 700; display: inline-block; margin-right: 10px; }

.about button i.fa { font-size: 11px; border: 1px solid #ed135a; width: 30px; height: 30px; line-height: 30px; border-radius: 50%; }

/* SERVICES */
.services { text-align: center; margin-top: 30px; padding-top: 124px; }

.services .services-icons { margin-top: 130px; }

.services .services-icons .border-icon { border: 1px solid #b2b0b0; width: 120px; height: 120px; border-radius: 50%; margin: 0 auto; line-height: 155px; }

.services .services-icons h4.headline-info { margin-top: 38px; }

/* QUOTES */
.quotes { background: url("../images/back.png"); background-repeat: no-repeat; background-size: cover; background-position: 95% 5%; height: 500px; text-align: center; line-height: 180px; }

.quotes > .container { padding-bottom: 0; }

.quotes p { color: #FFF; font-size: 25px; letter-spacing: 1px; font-style: italic; font-weight: 300; line-height: 40px; }

.quotes h2 { font-size: 130px; color: #ed135a; font-family: "Times new roman"; }

.quotes h2.left-quote { transform: rotate(180deg); }

.quotes a { font-size: 80px; text-decoration: none; color: #5a5a5a; line-height: 500px; font-weight: 300; transition: .3s; display: inline-block; }

.quotes a:hover { transform: scale(1.2); }

.quotes .right { height: 500px; text-align: right; }

.quotes .left { height: 500px; text-align: left; }

/* PRICES */
.prices { background-color: #f4f4f4; padding-top: 124px; text-align: center; }

.prices .price { width: 262px; height: 150px; background-color: #595959; margin: 0 auto; transition: .3s; margin-top: 93px; }

.prices .price h3 { font-size: 50px; letter-spacing: 1px; color: #FFF; font-weight: 700; padding-top: 20px; }

.prices .price h3 span { font-size: 25px; }

.prices .price p { color: #FFF; font-size: 15px; font-weight: 700; }

.prices .price h4 { font-size: 15px; color: #5a5a5a; text-transform: uppercase; background-color: #f3f3f3; width: 200px; height: 50px; border-radius: 24px; line-height: 50px; margin: 25px auto; position: relative; z-index: 0; }

.prices .price2 { width: 262px; height: 317px; background-color: #fff; margin: 0 auto; }

.prices .price2 p.options { padding-top: 45px; line-height: 35px; font-size: 15px; color: #5a5a5a; background-color: #FFF; z-index: 1; }

.prices .price2 button.oval-button { margin-top: 40px; }

.prices .price2 button.oval-button:hover { background-color: #c9003f; }

.prices [class*="col-"]:hover .price { background-color: #ed135b; }

/* SERVICES 2 */
.services2 { padding-top: 124px; }

.services2 img { float: left; }

.services2 .text-img { margin-left: 80px; margin-right: 23px; }

.services2 .text-img h4 { margin-bottom: 25px; }

.services2 .more-space { padding-top: 80px; }

/* JOIN */
.join { background-color: #ed135b; height: 200px; line-height: 200px; }

.join button { float: right; background-color: #FFF; color: #ed135b; margin: 75px 0; border: 1px solid #FFF; transition: .3s; }

.join button:hover { background-color: #ed135b; color: #FFF; }

.join h2 { font-size: 38px; text-transform: uppercase; color: #FFF; font-weight: 300; letter-spacing: 1.5px; display: inline-block; }

.join h2 span { font-weight: 700; }

/* GALLERY */
.gallery { text-align: center; padding-top: 124px; }

.gallery > .container { padding-bottom: 50px; }

.gallery .more-space { margin-top: 90px; }

.gallery .more2-space { margin-top: 60px; }

.gallery .photos { width: 360px; background-color: #f4f4f4; /* margin: 0 auto; */ padding-bottom: 20px; }

.gallery .photos img { display: block; }

.gallery .photos h4 { font-size: 15px; text-transform: uppercase; color: #5a5a5a; text-align: left; padding-top: 30px; padding-bottom: 20px; padding-left: 15px; }

.gallery .photos p { text-align: left; padding-left: 15px; }

.gallery .photos .photo-frame { position: relative; overflow: hidden; }

.gallery .photos .photo-frame:hover .layer { opacity: 1; }

.gallery .photos .photo-frame:hover .frame2 { opacity: 0; }

.gallery .photos .photo-frame .layer { position: absolute; background-color: rgba(237, 19, 91, 0.85); width: 100%; height: 100%; color: #FFF; font-size: 50px; line-height: 240px; opacity: 0; transition: .3s; cursor: pointer; }

.gallery .photos .photo-frame .frame2 { background-color: #ed135b; width: 100%; height: 15px; transform: rotate(1.5deg); opacity: 1; position: absolute; bottom: -7px; transition: .3s; }

.gallery a { text-decoration: none; }

.gallery a h5 { text-transform: uppercase; color: #ed135b; font-size: 15px; margin-top: 90px; }

.gallery a i.fa-angle-down { font-size: 30px; color: #ed135b; }

/* MORE INFO */
.more-info { text-align: center; background: url("../images/back.png"); background-repeat: no-repeat; background-size: cover; height: 650px; }

.more-info h2, .more-info p { color: #FFF; }

.more-info h2 { margin-top: 150px; }

.more-info p { font-weight: 300; font-size: 15px; line-height: 30px; }

.more-info button { margin-top: 50px; }

.more-info:hover { background-color: #c9003f; }

/* DOWNLOAD */
.download { background-color: #f4f4f4; padding-top: 124px; padding-bottom: 75px; }

.download .container { position: relative; }

.download .line { margin-left: 0; }

.download button { margin-top: 50px; }

.download button:hover { background-color: #c9003f; }

.download img { position: absolute; top: -50px; left: -230px; }

/* FOOTER */
.footer { background-color: #2b2b2b; color: #FFF; height: 146px; line-height: 145px; display: block; }

.footer > .container { padding: 0; }

.footer p { display: inline-block; text-transform: uppercase; font-size: 15px; }

.footer p span { color: #ed135a; font-weight: 700; }

.footer .float-right { float: right; }
