$base-color: #ed135b;

/* GLOBAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1141px;
  margin: 0 auto;
}

section>.container {
  padding-bottom: 124px;
}

.line {
  border-bottom: 2px solid $base-color;
  width: 200px;
  height: 0px;
  margin: 36px auto;
}

.section-headlines {
  font-size: 38px;
  font-style: italic;
  font-weight: 300;
  color: #5a5a5a;
  letter-spacing: 1px;
  /* line-height: 52px; */
}

.section-paragraph {
  font-size: 15px;
  line-height: 30px;
  color: #5a5a5a;
}

.oval-button {
  background-color: $base-color;
  width: 200px;
  height: 50px;
  border-radius: 24px;
  border: none;
  transition: .3s;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.headline-info {
  text-transform: uppercase;
  color: $base-color;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* HEADER */

header {
  background: url('../images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #FFF;
  position: relative;
  z-index: 1;
  nav.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  h2.logo {
    font-size: 25px;
    font-weight: 900;
    span {
      color: $base-color;
      letter-spacing: 1px;
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    transition: .3s;
    font-weight: 700;
    font-size: 16px;
    &:hover {
      color: $base-color;
    }
  }
  .navbar-dark .navbar-toggler {
      border-color: rgba(255,255,255,.4);
  }
}



/* JUMBOTRON */

.jumbotron-custom {
  text-align: center;
  padding-top: 12%;
  padding-bottom: 60px;
  h1 {
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 1px;
    font-weight: lighter;
    span {
      font-weight: 900;
    }
  }
  p {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 35px;
  }
  button.oval-button {
    margin-top: 70px;
    &:hover {
      background-color: #c9003f;
    }
  }
}

/* ABOUT */

.about {
  background-color: #f4f4f4;
  padding-top: 124px;
  position: relative;
  .container {
    position: relative;
  }
  .frame {
    height: 39px;
    width: 100%;
    background-color: $base-color;
    transform: rotate(-1deg);
    z-index: 0;
    position: absolute;
    top: -23px;
  }
  .line {
    margin-left: 0;
  }
  img {
    position: absolute;
    top: -10px;
  }
  button {
    color: $base-color;
    border: none;
    background-color: #f4f4f4;
    margin-top: 50px;
    cursor: pointer;
    p {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      display: inline-block;
      margin-right: 10px;
    }
    i.fa {
      font-size: 11px;
      border: 1px solid $base-color;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
    }
  }
}


/* SERVICES */

.services {
  text-align: center;
  margin-top: 30px;
  padding-top: 124px;
  .services-icons {
    margin-top: 130px;
    .border-icon {
      border: 1px solid #b2b0b0;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      line-height: 155px;
      img {
        vertical-align: baseline;
      }
    }
    h4.headline-info {
      margin-top: 38px;
    }
  }
}



/* QUOTES */


.quotes {
  background: url('../images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 95% 5%;
  height: 500px;
  text-align: center;
  &>.container {
    padding-bottom: 0;
  }
  p {
    color: #FFF;
    font-size: 25px;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 300;
    line-height: 40px;
  }
  i.fa {
    font-size: 60px;
    color: $base-color;
 }
  a {
    font-size: 80px;
    text-decoration: none;
    color: #5a5a5a;
    line-height: 500px;
    font-weight: 300;
    transition: .3s;
    display: inline-block;
    &:hover {
      transform: scale(1.2);
    }
  }
  .right {
    height: 500px;
    text-align: right;
  }
  .left {
    height: 500px;
    text-align: left;
  }
}

/* PRICES */

.prices {
  background-color: #f4f4f4;
  padding-top: 124px;
  text-align: center;
  .price {
    width: 100%;
    height: 150px;
    background-color: #595959;
    margin: 0 auto;
    transition: .3s;
    margin-top: 93px;
    h3 {
      font-size: 50px;
      letter-spacing: 1px;
      color: #FFF;
      font-weight: 700;
      padding-top: 20px;
      span {
        font-size: 25px;
      }
    }
    p {
      color: #FFF;
      font-size: 15px;
      font-weight: 700;
    }
    h4 {
      font-size: 15px;
      color: #5a5a5a;
      text-transform: uppercase;
      background-color: #f3f3f3;
      width: 200px;
      height: 50px;
      border-radius: 24px;
      line-height: 50px;
      margin: 25px auto;
      position: relative;
      z-index: 0;
    }
  }
  .price2 {
    width: 100%;
    height: 317px;
    background-color: #fff;
    margin: 0 auto;
    p.options {
      padding-top: 45px;
      line-height: 35px;
      font-size: 15px;
      color: #5a5a5a;
      background-color: #FFF;
      z-index: 1;
    }
    button.oval-button {
      margin-top: 40px;
      &:hover {
        background-color: #c9003f;
      }
    }
  }
  [class*="col-"]:hover .price {
    background-color: #ed135b;
  }
}


/* SERVICES 2 */

.services2 {
  padding-top: 124px;
  .row {
    [class*="col-"] {
      margin-top: 30px;
    }
  }
  img {
    float: left;
  }
  .text-img {
    margin-left: 80px;
    margin-right: 23px;
    h4 {
      margin-bottom: 25px;
    }
  }
  .more-space {
    padding-top: 80px;
  }
}


/* JOIN */

.join {
  background-color: #ed135b;
  height: 200px;
  .row {
    height: 200px;
    .col-center {
      text-align: center;
    }
  }
  button {
    background-color: #fff;
    color: #ed135b;
    border: 1px solid #FFF;
    transition: .3s;
    &:hover {
      background-color: #ed135b;
      color: #FFF;
    }
  }
  h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 300;
    letter-spacing: 1.5px;
    display: block;
    span {
      font-weight: 700;
    }
  }
}


/* GALLERY */

.gallery {
  text-align: center;
  padding-top: 124px;
  &>.container {
    padding-bottom: 50px;
  }
  .gallery-row {
    [class*="col-"] {
      margin-top: 30px;
    }
  }
  .photos {
    width: 100%;
    background-color: #f4f4f4;
    /* margin: 0 auto; */
    padding-bottom: 20px;
    img {
      display: block;
      width: 100%;
    }
    h4 {
      font-size: 15px;
      text-transform: uppercase;
      color: #5a5a5a;
      text-align: left;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 15px;
    }
    p {
      text-align: left;
      padding-left: 15px;
    }
    .photo-frame {
      position: relative;
      overflow: hidden;
      &:hover {
        .layer {
          opacity: 1;
        }
        .frame2 {
          opacity: 0;
        }
      }
      .layer {
        position: absolute;
        background-color: rgba(237,19,91,0.85);
        width: 100%;
        height: 100%;
        color: #FFF;
        font-size: 50px;
        line-height: 240px;
        opacity: 0;
        transition: .3s;
        .fa {
          cursor: pointer;
        }
      }
      .frame2 {
        background-color: #ed135b;
        width: 100%;
        height: 15px;
        transform: rotate(1.5deg);
        opacity: 1;
        position: absolute;
        bottom: -7px;
        transition: .3s;
      }
      .fa-search-small {
        display: none;
      }
    }
  }
  a {
    text-decoration: none;
    h5 {
      text-transform: uppercase;
      color: #ed135b;
      font-size: 15px;
      margin-top: 90px;
    }
    i.fa-angle-down {
      font-size: 30px;
      color: #ed135b;
    }
  }
}



/* MORE INFO */

.more-info {
  &>.container {
    padding: 0;
    height: 100%;
    .row {
      height: 100%;
    }
  }
  text-align: center;
  background: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  h2, p {
    color: #FFF;
  }
  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    padding: 0 5px;
  }
  button {
    margin-top: 50px;
  }
  &:hover {
    background-color: #c9003f;
  }
}

/* DOWNLOAD */

.download {
  background-color: #f4f4f4;
  padding-top: 124px;
  padding-bottom: 75px;
  .container {
    position: relative;
  }
  .line {
    margin-left: 0;
  }
  button {
    margin-top: 50px;
    &:hover {
      background-color: #c9003f;
    }
  }
  img {
    position: absolute;
    top: -50px;
    left: -230px;
    width: 130%;
  }
}


/* FOOTER */

.footer {
  &>.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  background-color: #2b2b2b;
  color: #FFF;
  height: 146px;
  // line-height: 145px;
  display: block;
  &>.container {
    padding: 0;
  }
  p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 5px;
    margin: 0;
    span {
      color: $base-color;
      font-weight: 700;
    }
  }
}

// MEDIA QUERIES

@media (max-width: 1175px) {
  // .about {
  //   .section-text-col {
  //     padding-left: 30px;
  //   }
  // }
}

@media (max-width: 1036px) {

  .join {
    .row {
      .col-center-sm {
        text-align: center;
      }
    }
  }

  .quotes {
    p {
      font-size: 19px;
    }
  }

}

@media (max-width: 991px) {
  section > .container {
    padding-bottom: 100px;
  }
  .section-headlines {
    margin-top: 30px;
  }
  .jumbotron-custom {
    padding-top: 13%;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
    }
  }
  .about {
    .photo-order {
      order: -1;
    }
    img {
      position: static;
      width: 100%;
    }
    .section-text-col {
      text-align: center;
      .line {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .services {
    margin-top: 0;
    padding-top: 50px;
  }
  .download {
    img {
      position: static;
      width: 100%;
    }
    .col-12 {
      text-align: center;
      .line {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .gallery {
    .gallery-row {
      .photos {
        .photo-frame {
          .layer {
            display: none;
          }
          .frame2 {
            transform: rotate(1.2deg);
          }
          &:hover {
            .frame2 {
              opacity: 1;
            }
          }
          .fa-search-small {
            display: block;
            color: #fff;
            background-color: rgba(237, 19, 90, 0.6);
            padding: 2px 2px 4px 4px;
            border-radius: 20%;
            font-size: 40px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
    }
  }
  .prices {
    [class*="col-"]:hover .price {
      background-color: #595959;
    }
    .price2 {
      button.oval-button {
        &:hover {
          background-color: $base-color;
        }
      }
    }
  }
}

@media (max-width: 811px) {

  .jumbotron-custom {
    padding-top: 15%;
    button.oval-button {
      margin-top: 30px;
    }
  }
  .quotes {
    p {
      font-size: 18px;
    }
  }

  .footer {
    height: 80px;
  }

}

@media (max-width: 767px ) {

  section>.container {
    padding-bottom: 50px;
  }

  .services, .prices, .services2, .gallery, .download {
    padding-top: 50px;
    margin-top: 0;
  }

  .navbar {
    background-color: rgba(0,0,0,0.3);
    padding-bottom: 1rem;
  }

  .jumbotron-custom {
    // padding-bottom: 40px;
    h1 {
      font-size: 27px;
    }
    p {
      font-size: 15px;
    }
  }

  .about {
    .frame {
      top: -29px;
    }
  }

  .services {
    .services-icons {
      // margin-top: 30px;
      h4.headline-info {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }

  .prices {
    .price {
      width: 60%;
      margin-top: 30px;
    }
    .price2 {
      width: 60%;
    }
  }

  .gallery {
    .photos {
      background-color: #f4f4f4;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }

  .join {
      h2 {
        font-size: 28px;
      }
  }

  .quotes {
    p {
      line-height: 30px;
    }
    h2 {
      font-size: 55px;
    }
    a {
      font-size: 60px;
    }
  }

}

@media (max-width: 767px ) and (orientation: landscape) {
  .header {
    height: 100vh;
  }
  footer p {
    padding: 5px;
  }
}


@media (max-width: 576px) {

  .services {
    margin-top: 0;
  }

  .services .services-icons {
    margin-top: 30px;
  }

  .quotes {
    p {
      font-size: 15px;
      line-height: 30px;
    }
    h2 {
      font-size: 35px;
    }
  }

  .gallery a h5 {
    margin-top: 30px;
  }

  .more-info {
    p {
      line-height: 25px;
    }
  }

  .join {
      h2 {
        font-size: 23px;
      }
  }

  .footer {
    text-align: center;
    &>.container {
      flex-wrap: wrap;
    }
    p {
      flex-basis: 100%;
    }
  }
}
